body {
    margin: 0;
    padding: 0;

    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*  start NAVBAR  */

.navbar {
    background-color: #afb42b;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 100px;
}

.logo-box {
    margin: auto;
    padding-left: 5px; 
}

.brand-logo {
    padding-left: 20px;
    font-size: 2.3rem;
    color: white;
}
    

.menu-bars {
    margin-left: 3rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #afb42b;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #827717;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: start;
    background-color: #afb42b;
}

span {
    margin-left: 16px;
}

/*  end NAVBAR -------------------------------- */


.content {
    min-height: 100vh;
    padding: 1.5rem 0;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    text-align: start;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
    text-align: start;
}

img,
iframe {
    max-width: 100%;
}

iframe {
    width: 600px;
    height: 350px;
}

.btn {
    background-color: #afb42b;

    margin: auto;
    margin: 10px 0 10px;
}

.btn:hover {
    background-color: #827717;
}

p {
    text-align: start;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
